h3 Добавление наборов дайсов
p.links
  = link_to_add_association 'Добавить набор', f, :dice_settings, partial: 'dice_sets/dice_setting_fields', class: 'btn btn-primary', wrap_object: Proc.new {|dice_setting| dice_setting.build_dice_set; dice_setting }