.nested-fields
  .panel.panel-primary
    .panel-heading
      h4 Набор дайсов
    .panel-body
      .row
        = f.simple_fields_for :dice_set, validate: true do |el|
          .col-lg-12
            = el.input :title
          = render 'dices/add_dice', f: el
        .col-lg-4.text-right
          = link_to_remove_association 'Удалить внешнюю ссылку', f, class: 'btn  btn-danger btn-sm'