h3 Добавление дайсов
p.links
  = link_to_add_association 'Добавить дайс', f, :dicings, partial: 'dices/dicing_fields', class: 'btn btn-primary', wrap_object: Proc.new {|dicing| dicing.build_dice; dicing }