.nested-fields
  .panel.panel-primary
    .panel-heading
      h4 Дайс
    .panel-body
      .row
        = f.simple_fields_for :dice, validate: true do |el|
          .col-lg-12
            = el.input :title
          .col-lg-12
            = el.input :formula
        .col-lg-4.text-right
          = link_to_remove_association 'Удалить внешнюю ссылку', f, class: 'btn  btn-danger btn-sm'